@using APP.Domain.Entities;
@model List<Usuarios>
@{
    ViewData["Title"] = "Cadastro de Usuarios";
}

<h1>Pessoas</h1>
<h2>Lista de Usuários</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cep</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Estado</th>
            <th> <a asp-action="Create" class="btn btn-primary">Inserir Usuário</a> </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Idade</td>
                <td>@item.Cep</td>
                <td>@item.Logradouro</td>
                <td>@item.Bairro</td>
                <td>@item.Uf</td>


                <td>
                    <form method="post" asp-action="EditUsuario">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Editar</button>
                    </form>

                    @*<a asp-action="Edit" asp-all-route-data="@item.Id.ToString()" style="align-content:flex-end">Editar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>



